<div *ngFor="let mesg of message.content.content">
  <div class="avatar_message_section d-table" *ngIf="message.content.content.length!=0">
    <div class="avatar_chat_img d-table-cell valign-top">
    </div>
    <div class="d-table-cell valign-top ">
      <div class="avatar_message_spinner animation-loading">
        <div class="spinner m-0">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="mesg.type==='p' && (!mesg.priority || mesg.priority=='top')" style="">
    <div class="avatar_message_section">
      <div class="avatar_chat_img d-table-cell valign-top">
        <img src="../assets/images/stark.svg">
      </div>
    </div>
    <div class="d-table-cell valign-top">
      <div class="avatar_message_text">
        <p class="ion-no-margin">{{mesg.text}}</p>
      </div>
    </div>
    <!-- <ion-title style="font-size:14px;">
    {{mesg.text}}
  </ion-title> -->
  </div>

  <app-licence-card *ngIf="mesg.type==='manualDdCard'"></app-licence-card>
  <app-licence-card *ngIf="mesg.type==='manualDdCard'"></app-licence-card>
  <app-full-car-details-card *ngIf="mesg.type==='manualMainCard'"></app-full-car-details-card>
  <app-licence-card *ngIf="mesg.type==='manualDdCard'"></app-licence-card>
  <app-photo-card *ngIf="mesg.type==='manualDdCard'"></app-photo-card>
  <!-- 'ddCard'     message.content == 'scanCard'  -     camera -->
  <ion-toolbar color="default" *ngIf="mesg.type==='p' && mesg.priority && mesg.priority=='bottom'" style="">
    <ion-title style="font-size:14px;" *ngIf="!mesg.valueType">
      {{mesg.text}}
    </ion-title>
    <ion-title style="font-size:14px;" *ngIf="mesg.valueType=='make'">
      {{mesg.text.split(':')[0]}}
    </ion-title>
  </ion-toolbar>
  <!-- 
<div *ngIf="mesg.type==='buttons'">
  <ion-button color="success" *ngFor="let item of mesg.text" (click)="ButtonAction(item);mesg=''">{{item}}</ion-button>
</div>
-->
</div>