ion-toolbar{
    
  width: 80%;
  margin: 10px 0px;
  min-width: 230px;
  max-width: 500px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #57a7ec;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
  color:#fff;
}