<ion-header>
	<div class="chatbot_header d-flex ion-align-items-center">
		<ion-row class="w-100">
			<ion-col class="ion-no-padding">
				<div class="d-flex ion-align-items-center sidemenu_section_mobile">
					<ion-icon name="menu" class="chatbot_header-icon"></ion-icon>
					<ion-title class="w-100 header_text mobile-design-show">
						<p class="ion-no-margin">Stark</p>
						<p class="ion-no-margin small_text">Insurance personal assistant</p>
					</ion-title>
					<div class="ion-align-items-center ion-justify-content-center avatar_desktop">
						<div class="avatar_img desktop-design-show">
							<img src="./assets/images/stark.svg" alt="avatar-image" width="80">
						</div>
					</div>
					<ion-icon name="sync" class="chatbot_header-icon reset"></ion-icon>
				</div>
			</ion-col>
		</ion-row>
	</div>
</ion-header>