.chatbot_header {
  background-image: linear-gradient(to right, #006eec, #475df9, #8743f7) !important;
  .material-icons {
    font-size: 1.8rem;
  }
  .logo {
    padding-left: 10px;
    border: none;
    padding: 0;
    height: 50px;
  }
  .avatar_img {
    top: 15px;
    left: 45%;
    z-index: 1;
    position: absolute;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.18);
    border-radius: 50%;
  }
  .material-icons {
    padding: 0px 5px;
    color: #fff;
    cursor: pointer;
  }

  .header_text {
    width: 100%;
    text-align: center;
    p {
      font-size: 1rem;
      font-weight: 600;
      font-family: "Quicksand";
      line-height: 1.3;
      color: #fff;
      &.small_text {
        font-size: 0.8rem;
        font-weight: 400;
      }
    }
  }
  .chatbot_header-icon {
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    &.reset {
      margin-left: auto;
    }
  }
}
.sidemenu_section_mobile {
  padding: 16px 10px;
}
@media (max-width: 767px) {
  .mobile-design-show {
    display: block;
  }
  .desktop-design-show {
    display: none;
  }
  .logo {
    margin: auto;
    width: 80px !important;
  }
  .avatar_message_text,
  .user_message_text {
    font-size: 0.8rem;
  }
  .user_message_section {
    margin-right: 10px;
  }
  .avatar_message_text {
    max-width: 80%;
    width: auto;
  }
  .user_message_text {
    min-width: auto;
    max-width: 220px !important;
  }
  .avatar_img img {
    border-radius: 50%;
    border: 2px solid #ccc;
  }
  .avatar_desktop {
    display: none;
    margin-right: 0px !important;
  }

  .undo {
    max-width: 10%;
  }
}
