<!-- <ion-content>
  <div id="item-list" style="height:100%">
    <div *ngFor='let msg of messages' style="width: 100%;float: left;">
      <app-bot-message *ngIf="msg.msgFrom!=='user'" [message]="msg">
      </app-bot-message>

      <app-user-message *ngIf="msg.msgFrom==='user'" [message]="msg">
      </app-user-message>
    </div>
  </div>
</ion-content> -->

<ion-content>
  <div id="item-list" style="height:100%">
    <!-- {{ messages | json}} -->
    
    <div *ngFor='let msg of messages' style="width: 100%;float: left;">
      <div class="chatlist" [ngStyle]="{'max-height': 'calc( 90vh  - '+btnDivHeight+'px'+')'}">
        <div class="chat_section">
          <app-bot-message *ngIf="msg.msgFrom!=='user'" [message]="msg">
          </app-bot-message>
          <app-user-message *ngIf="msg.msgFrom==='user'" [message]="msg">
          </app-user-message>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- <ion-content>

  <ion-list class="chat-list" no-lines>

    <ion-item *ngFor="let msg of messages">
      <app-bot-message *ngIf="msg.msgFrom!=='user'" [message]="msg">
      </app-bot-message>

      <app-user-message *ngIf="msg.msgFrom==='user'" [message]="msg">
      </app-user-message>
    </ion-item>

  </ion-list>

</ion-content> -->


<ion-footer>
  <div *ngFor="let msg of messages">
    <div *ngFor="let mesg of msg.content.content">
      <div *ngIf="mesg.type==='buttons'">
        <ion-button color="success" *ngFor="let item of mesg.text" (click)="ButtonAction(item);mesg=''">{{item}}</ion-button>
      </div>
    </div>
  </div>
  <app-user-input [message]="message" [messages]="messages">
  </app-user-input>
</ion-footer>