.chatlist {
    width: 100%;
    overflow-y: auto;
    padding-top: 120px;
    padding-bottom: 80px;
    position: absolute;
  }
  .chat_section {
    height: 100%;
    padding-top: 75px;
    padding-bottom: 50px;
    padding-left: 0px;
    background-color: #fff;
  }
  

