<ion-toolbar color="default" style="
width: 80%;
float: right;
margin: 10px 0px;
min-width: 230px;
max-width: 500px;
border-bottom-left-radius: 40px;
border-top-left-radius: 40px;
background-color: #ccc;
box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
">
    <ion-title style="font-size:14px;">
        {{message.content}}
    </ion-title>
</ion-toolbar>