.user_message_section {
  float: right;
  width: 100%;
  margin: 10px;
  opacity: 0;
  -webkit-animation: fadeInUp 0.51s cubic-bezier(0.12, 0.6, 0.37, 0.89) 0s forwards;
  animation: fadeInUp 0.51s cubic-bezier(0.12, 0.6, 0.37, 0.89) 0s forwards;
  .user_message_text {
    background-color: #1d67f1;
    background-image: linear-gradient(to left, #006eec, #475df9, #8743f7);
    // background-image: linear-gradient(109deg, rgba(9,154,226,1) 0%, rgba(110,60,201,1) 59%, rgba(79,44,145,1) 100%);
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.18);
    color: #fff;
    opacity: 0.8;
    padding: 10px;
    max-width: 600px;
    width: auto;
    word-break: break-all;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    font-size: 0.8rem;
    p {
      font-family: "Quicksand-regular";
      word-break: break-all;
      line-height: 1.3;
    }
  }
}
