/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
/* fallback */
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v43/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format("woff2");
  }
  
  @font-face {
    font-family: "Quicksand-Bold";
    font-weight: 600;
    font-style: normal;
    src: url("/assets/Quicksand/Quicksand-Bold.ttf") format("truetype"),
      url("/assets/Quicksand/Quicksand-Bold.eot") format("eot");
  }
  
  @font-face {
    font-family: "Quicksand-regular";
    font-weight: 500;
    font-style: normal;
    src: url("/assets/Quicksand/Quicksand-Medium.ttf") format("truetype"),
      url("/assets/Quicksand/Quicksand-Medium.eot") format("eot");
  }
  
  @font-face {
    font-family: "Cookie-Regular";
    font-weight: 500;
    font-style: normal;
    src: url("/assets/Cookie-Regular/Cookie-Regular.ttf") format("truetype"),
      url("/assets/Cookie-Regular/Cookie-Regular.eot") format("eot"),
      url("/assets/Cookie-Regular/Cookie-Regular.otf") format("opentype"),
      url("/assets/Cookie-Regular/Cookie-Regular.woff") format("woff");
  }
  
  .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
  }
  // Custom Theming for Angular Material
  // For more information: https://material.angular.io/guide/theming
//   @import "~@angular/material/theming";
  // Plus imports for other components in your app.
  
  // Include the common styles for Angular Material. We include this here so that you only
  // have to load a single css file for Angular Material in your app.
  // Be sure that you only ever include this mixin once!
//   @include mat-core();
  
  // Define the palettes for your theme using the Material Design palettes available in palette.scss
  // (imported above). For each palette, you can optionally specify a default, lighter, and darker
  // hue. Available color palettes: https://material.io/design/color/
//   $nasco-chatbot-primary: mat-palette($mat-indigo);
//   $nasco-chatbot-accent: mat-palette($mat-pink, A200, A100, A400);
  
//   // The warn palette is optional (defaults to red).
//   $nasco-chatbot-warn: mat-palette($mat-red);
  
//   // Create the theme object (a Sass map containing all of the palettes).
//   $nasco-chatbot-theme: mat-light-theme($nasco-chatbot-primary, $nasco-chatbot-accent, $nasco-chatbot-warn);
  
  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
//   @include angular-material-theme($nasco-chatbot-theme);
  
  /* You can add global styles to this file, and also import other style files */
  
  html,
  body {
    height: 100%;
  }
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  body {
    margin: 0; // 1
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .text-center {
    text-align: center;
  }
  
  .d-table {
    display: table;
  }
  
  .d-table-cell {
    display: table-cell;
  }
  
  .valign-top {
    vertical-align: top;
  }
  
  .d-flex {
    display: flex;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .m-0 {
    margin: 0px !important;
  }
  
  .p-0 {
    padding: 0px !important;
  }
  
  .text-left {
    text-align: left;
  }
  
  .justify-content-end {
    justify-content: flex-end;
  }
  
  .pull-right {
    float: right;
  }
  
  .border-right {
    border-right: 2px solid #ccc;
  }
  .flex-column {
    flex-direction: column !important;
  }
  .mt-60 {
    margin-top: 60px !important;
  }
  /* chatbot header styles */
  .chatbot_bg {
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    background-image: url("./assets/images/Chat-BG.svg");
    transition: transform 0.3s;
    z-index: 1;
    pointer-events: all;
    &.sidemenu-toggle {
      transform: perspective(1400px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-60deg);
      transform-origin: right;
      transition: transform 0.3s;
      border: 1px solid #ccc;
      overflow: hidden;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      opacity: 0.8;
      position: absolute;
      animation: right 0.5s linear forwards;
      @media (min-width: 768px) {
        transform: perspective(1400px) translateZ(0px) translateX(0px) translateY(0px) rotateY(0deg);
        opacity: 1;
      }
    }
    @media (min-width: 768px) {
      &.sidemenu-close {
        -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.5;
      background-color: #fff;
      @media (max-width: 767px) {
        opacity: 0.55;
      }
    }
  }
  @media (min-width: 768px) {
    @keyframes right {
      0% {
        right: -100px;
        transition: transform 0.3s;
      }
      100% {
        right: -270px;
        transition: transform 0.3s;
      }
    }
  }
  @media (min-width: 768px) {
    @keyframes slide-left {
      0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
      }
      100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
      }
    }
  }
  
  /* avatar chat details styles */
  .avatar_title {
    margin-bottom: 25px;
    color: #888888;
    h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      font-weight: 500;
    }
    .avatar_text {
      font-size: 1.2rem;
    }
  }
  
  /* messages section styles */
  
  .avatar_message_section {
    .avatar_chat_img {
      padding: 0px 8px 0px 10px;
      opacity: 0;
      width: 55px;
      -webkit-animation: fadeInLeft 0.51s ease-in-out 0s forwards;
      animation: fadeInLeft 0.51s ease-in-out 0s forwards;
      img {
        border: 1px solid #dcdcdc;
        border-radius: 50%;
        width: 100%;
      }
    }
  }
  .Image_all_msgs {
    padding: 0px 8px 0px 10px;
    opacity: 0;
    width: 52px;
    -webkit-animation: fadeInLeft 0.51s ease-in-out 0s forwards;
    animation: fadeInLeft 0.51s ease-in-out 0s forwards;
    img {
      border: 1px solid #dcdcdc;
      border-radius: 50%;
      width: 100%;
    }
  }
  
  .avatar_message_text {
    background-color: #fff;
    border-radius: 10px;
    border-top-left-radius: 0px;
    color: #333;
    padding: 8px 10px;
    line-height: 1.4;
    margin-bottom: 8px;
    max-width: 600px;
    min-width: 200px;
    width: auto;
    opacity: 1;
    -webkit-animation: fadeInRight 0.51s ease-in-out 0s forwards;
    animation: fadeInRight 0.51s ease-in-out 0s forwards;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    position: relative;
    box-shadow: 0px 3px 7px rgba(150, 150, 150, 0.18);
    -webkit-box-shadow: 0px 3px 7px rgba(150, 150, 150, 0.18);
    font-size: 0.85rem;
    &.dob_card {
      box-shadow: 0px 3px 7px rgba(150, 150, 150, 0.18);
      -webkit-box-shadow: 0px 3px 7px rgba(150, 150, 150, 0.18);
      margin: 10px auto;
      max-width: 90%;
      border: 1px solid #c3c3c3;
      color: #464a4c;
    }
    p {
      font-family: "Quicksand-regular";
    }
  }
  
  /* user message section  */
  
  .user_message_section {
    float: right;
    width: 100%;
    margin: 10px;
    opacity: 0;
    -webkit-animation: fadeInUp 0.51s cubic-bezier(0.12, 0.6, 0.37, 0.89) 0s forwards;
    animation: fadeInUp 0.51s cubic-bezier(0.12, 0.6, 0.37, 0.89) 0s forwards;
    .user_message_text {
      background-color: #1d67f1;
      background-image: linear-gradient(to left, #006eec, #475df9, #8743f7);
      // background-image: linear-gradient(109deg, rgba(9,154,226,1) 0%, rgba(110,60,201,1) 59%, rgba(79,44,145,1) 100%);
      border-radius: 30px;
      border-bottom-right-radius: 0px;
      box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.18);
      -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.18);
      color: #fff;
      opacity: 0.8;
      padding: 10px;
      max-width: 600px;
      width: auto;
      word-break: break-all;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
      font-size: 0.8rem;
      p {
        font-family: "Quicksand-regular";
        word-break: break-all;
        line-height: 1.3;
      }
    }
  }
  
  //   .chat_section{
  //     height: calc( 75vh - 20px);
  //   }
  
  .footer-section {
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    border-top: 1px solid #ccc;
  }
  
  .texting_section {
    min-height: 40px;
    //background-color: #fff;
    //box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.18);
    border-radius: 5px;
    overflow: hidden;
    textarea {
      min-height: 40px;
      width: 85%;
      border: 0px;
      border-right: 1px solid #ccc;
      border-radius: 0px;
      outline: 0;
      font-family: "Quicksand-regular";
    }
    .material-icons {
      color: #545454;
      width: 15%;
      text-align: center;
      font-size: 1.8rem;
      width: 20%;
      text-align: center;
      // -webkit-text-stroke: 1px #9c9898;
    }
  }
  .chatform {
    height: 100%;
  }
  
  .logo {
    margin: auto;
  }
  .avatar_message_text,
  .user_message_text {
    font-size: 0.8rem;
  }
  .user_message_section {
    margin-right: 10px;
  }
  .avatar_message_text {
    max-width: 75%;
    width: auto;
    min-height: 35px;
  }
  .user_message_text {
    min-width: auto;
    max-width: 250px !important;
  }
  .avatar_img img {
    border-radius: 50%;
    border: 2px solid #ccc;
  }
  .avatar_desktop {
    display: none;
    margin-right: 0px !important;
  }
  
  .sidemenu_section_mobile {
    width: 90%;
  }
  .undo {
    max-width: 10%;
  }
  .chat_section {
    position: relative;
    bottom: 10%;
    width: 100%;
    overflow: auto;
    padding-bottom: 70px;
    @media (max-width: 767px) {
      padding-top: 75px;
    }
  }
  .Chatbot_header .material-icons {
    font-size: 1.4rem !important;
    color: #545454;
  }
  .menu-icon .material-icons {
    padding-left: 20px !important;
  }
  .undo .material-icons {
    padding-right: 20px !important;
  }
  .texting_section .material-icons {
    font-size: 1.2rem;
    width: 20%;
    text-align: center;
    background: -webkit-linear-gradient(#9c47fc, #356ad2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */
  .avatar_message_spinner {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 7px rgba(150, 150, 150, 0.18);
    -webkit-box-shadow: 0px 3px 7px rgba(150, 150, 150, 0.18);
    padding: 5px 10px;
    margin-bottom: 8px;
    -webkit-animation: fadeInRight 0.51s ease-in-out 0s forwards;
    animation: fadeInRight 0.51s ease-in-out 0s forwards;
    position: relative;
    max-width: 70px;
  }
  
  .spinner {
    text-align: center;
    position: relative;
  }
  
  .spinner > div {
    width: 8px;
    height: 8px;
    margin-right: 3px;
    background-color: #059fe5;
    background-image: linear-gradient(to right, #006eec, #475df9, #8743f7);
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
    }
  }
  
  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  /* web cam styles */
  .web-cam {
    @media (min-width: 768px) {
      width: 100%;
    }
    .webcam-wrapper {
      width: 100%;
    }
    video {
      margin: auto;
      width: 100%;
      height: 260px;
    }
  }
  
  //common-amount section styles for both mobile & desktop
  
  .amount_section {
    margin: 2px auto;
    width: 98%;
    padding: 5px;
    background-color: #fff;
    .amount_circle {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      margin: auto;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0px 2px 8px rgba(0, 0, 0, 0.18);
      &.blue {
        background-color: #2682ec;
      }
      &.orange {
        background-color: #ff6f00;
      }
      &.green {
        background-color: #1eb15e;
      }
      p {
        color: #fff;
        line-height: 1;
        font-family: "Quicksand-regular";
        font-size: 0.9rem;
        font-weight: 500;
        &.circle_text {
          font-size: 0.7rem;
          font-family: "Quicksand-regular";
        }
      }
    }
    .circle_bottom_text {
      text-align: center;
      font-size: 0.8rem;
      font-weight: 500;
      color: #6f6f6f;
      line-height: 1.2;
      padding-top: 10px;
      font-family: "Quicksand-regular";
    }
  }
  
  .mat-ink-bar {
    width: 33% !important;
    background-color: #3785df !important;
  }
  
  // payment tabs styles
  
  .payment-tabs {
    background-color: #fff;
    margin-top: 60px !important;
    width: 95%;
    padding: 5px;
    box-shadow: 0px 1px 5px 1px rgba(103, 103, 103, 0.23);
    margin-left: 20px;
    max-width: 500px;
    margin-bottom: 20px;
    @media (max-width: 767px) {
      margin: 20px auto;
    }
  
    .common_payment_card {
      padding: 0px;
      margin: 10px auto;
      box-shadow: 0px 1px 5px 2px rgba(115, 115, 115, 0.18);
      border-radius: 8px;
      .overview_heading {
        padding: 10px 0px;
        text-align: center;
        padding-top: 15px;
        p {
          font-size: 1.2rem;
          font-family: "Quicksand-regular";
          font-weight: 600;
          color: #006eec;
          line-height: 1;
        }
        .address_text {
          font-size: 0.75rem;
          color: #666;
          font-weight: 500;
          font-family: "Quicksand-regular";
          line-height: 1.4;
          width: 70%;
          margin: auto !important;
          padding-top: 8px;
        }
      }
      .amount_circle {
        text-align: center;
        margin: 10px auto;
        width: 120px;
        height: 120px;
        // background-color: #3785df;
        background-color: #5190f7;
        color: #fff;
        border-radius: 50%;
        position: relative;
        // box-shadow:0 4px 4px rgba(0, 0, 0, 0.24), 0px 4px 8px rgba(0, 0, 0, 0.28);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21), 0px 4px 8px rgba(0, 0, 0, 0.21);
        .amount_circle_details {
          .big_text {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1;
            font-family: "Quicksand-regular";
          }
          .small_text {
            font-size: 0.8rem;
            font-family: "Quicksand-regular";
            font-weight: 500;
          }
          span {
            position: absolute;
            right: -5px;
            top: 15%;
            font-size: 0.7rem;
            background-color: #3785df;
            color: #fff;
            border-radius: 50%;
            padding: 5px;
            font-family: "Quicksand-regular";
          }
        }
      }
      .amount_details {
        padding: 5px 10px;
        border-bottom: 1px solid #eaeaea;
        .start_day_block {
          font-size: 0.95rem;
          font-weight: 400;
          color: #444;
          margin: 10px 0px;
          .dropdown_btn {
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.18);
            min-width: 80px;
            padding: 0;
            font-weight: 500;
            font-size: 0.8rem;
            line-height: 28px;
          }
        }
        .deduct_amount_section {
          padding: 8px 0px;
          p {
            font-size: 0.8rem;
            font-weight: 400;
            max-width: 80%;
            width: 100%;
            line-height: 1.2;
            &.price {
              width: 20%;
              text-align: right;
              font-weight: 500;
              color: #404040;
              font-family: "Quicksand-regular";
            }
          }
        }
      }
      .addons_section {
        margin-top: 15px;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 15px;
        .addon_heading {
          font-size: 1rem;
          font-weight: 600;
          color: #000;
          font-family: "Quicksand-regular";
          padding-bottom: 10px;
          text-align: center;
        }
        .addon_icon {
          background-color: #e6e6e6;
          width: 60px;
          margin: auto;
          border-radius: 50%;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          img {
            width: 30px;
          }
        }
        .addon_text {
          width: 80%;
          margin: auto;
          padding-bottom: 10px;
          p {
            font-size: 0.75rem;
            font-weight: 500;
            color: #3a3939;
            text-align: center;
            font-family: "Quicksand-regular";
            line-height: 1.4;
            padding-top: 8px;
          }
        }
        .addon_link {
          text-align: center;
          padding-bottom: 10px;
          .addon_link_text {
            color: #3785df;
            font-size: 0.8rem;
            font-weight: 500;
          }
        }
      }
      .summary_text {
        text-align: center;
        p {
          font-size: 0.8rem;
          font-weight: 500;
          padding: 10px 0px;
          color: #444;
          a {
            color: #3785df;
          }
        }
      }
    }
    // Add-Ons tab
    .addons_section {
      margin-top: 10px;
      .addon_head_title {
        p {
          font-size: 0.8rem;
          font-weight: 500;
          font-family: "Quicksand-regular";
          color: #000;
          text-align: center;
        }
      }
      .mat-card {
        padding: 8px 10px;
        box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
        margin: 10px 0px;
        .addon_data_section {
          .addon_data {
            width: 70%;
            .addon_title {
              font-size: 0.7rem;
              font-weight: 600;
              font-family: "Quicksand-regular";
              color: #006eec;
              text-transform: uppercase;
              padding-bottom: 4px;
            }
            .addon_description_text {
              font-size: 0.7rem;
              font-weight: 400;
              font-family: "Quicksand-regular";
              color: #8c8c8c;
            }
          }
        }
        //
      }
    }
  
    .additional_coverages_section {
      .additional_title {
        margin: 10px 0px;
        text-align: center;
        p {
          font-size: 0.8rem;
          font-weight: 600;
          font-family: "Quicksand-regular";
          color: #000;
        }
      }
    }
  
    // Coverages Section styles
    .coverage_section {
      .coverage_head_text {
        margin-top: 15px;
        p {
          font-size: 0.8rem;
          font-weight: 600;
          font-family: "Quicksand-regular";
          color: #000;
          text-align: center;
          padding-bottom: 10px;
        }
      }
      .mat-card {
        box-shadow: 0px 1px 5px 2px rgba(109, 109, 109, 0.13);
        padding: 0px;
        .coverage_detail {
          min-height: 150px;
          border-bottom: 1px solid #eaeaea;
          position: relative;
          .coverage_detail_icon {
            min-height: 80px;
            text-align: center;
            color: #1565c0;
            width: 60px;
            margin: auto;
            img {
              width: 100%;
            }
          }
          .coverage_detail_text {
            padding-bottom: 30px;
            .coverage_title {
              font-size: 0.8rem;
              font-weight: 500;
              font-family: "Quicksand-regular";
              color: #006eec;
              text-align: center;
              padding-bottom: 4px;
              position: relative;
            }
            .coverage_text {
              font-size: 0.7rem;
              font-weight: 500;
              font-family: "Quicksand-regular";
              color: #8c8c8c;
              text-align: center;
              width: 85%;
              margin: auto !important;
            }
          }
        }
      }
    }
    .mat-tab-list {
      background-color: #f3f3f3;
    }
  }
  
  html,
  body {
    height: 100%;
  }
  
  /// splash logo
  .splash-screen {
    // background-image: linear-gradient(to top,#09f,#45d1ff);
    background-color: #f3f1f1;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 9999;
  }
  .splash_logo {
    // background-color: #45d1ff;
    border: 0px;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0;
    z-index: 9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    overflow: hidden;
    width: 250px;
  }
  .mat-tab-list {
    background-color: #fff;
    .mat-tab-label {
      width: 33%;
      padding: 0px;
      height: 30px;
      opacity: 1;
      &.mat-tab-label-active {
        .mat-tab-label-content {
          color: #3785df !important;
        }
      }
      .mat-tab-label-content {
        font-size: 0.85rem;
        text-transform: capitalize;
        font-weight: 500;
        font-family: "Quicksand-regular";
      }
    }
  }
  
  .chatbot-input-feild {
    .mat-form-field-infix {
      width: 100%;
    }
    .mat-form-field {
      display: block;
    }
    .mat-form-field-label-wrapper .mat-form-field-label {
      font-size: 0.8rem;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0.5em 0;
    }
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    .mat-form-field-flex::hover {
      border: 1px solid #ccc;
      background-color: none;
      color: #ccc;
    }
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
      color: rgb(55, 133, 223);
    }
    .mat-form-field.mat-focused .mat-form-field-label {
      color: rgb(55, 133, 223);
    }
  }
  .question-header {
    .mat-expansion-panel,
    .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
      background-color: rgb(243, 243, 243);
    }
  }
  
  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
    }
    100% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }
  }
  
  .sidemenu-open li {
    animation-delay: 0.3s;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  // scan cards design styles
  
  // Driver Card Details
  .driver_card_section {
    // margin-left: 10px;
    max-width: 380px;
    margin-left: 20px;
    @media (max-width: 767px) {
      margin: auto;
    }
    .enter-manually-text {
      margin: auto;
      line-height: 1.3;
      font-size: 0.85rem;
      font-weight: 500;
      text-align: left !important;
      &.warning {
        color: #ff0000;
      }
    }
    &.manual_card_section {
      width: 90%;
      .mat-form-field {
        width: 100%;
      }
    }
    &.congrats_card_section {
      margin-left: 0px;
    }
    &.error_card_section {
      width: 90%;
      .error_card {
        width: 100%;
        max-width: 100%;
        margin: 10px auto;
        padding: 10px;
        margin-top: 60px !important;
        p {
          font-size: 0.85rem;
          font-family: "Quicksand-regular";
          font-weight: 500;
          color: #4c4c4c;
        }
      }
    }
  
    .retake-btn {
      margin-right: 5px;
      border: 1px solid #3785df;
      color: #3785df;
      font-weight: 500;
      font-family: "Quicksand-regular";
    }
  
    .driver_card {
      margin: 10px auto;
      padding: 0px;
      box-shadow: 0px 2px 5px 2px rgba(109, 109, 109, 0.25);
      border: 1px solid #3785df;
      border-top: 3px solid #3785df;
      border-radius: 10px;
      .driver_card_title {
        margin: 0px;
        padding: 7px 10px;
        background-color: #3785df;
        h3 {
          color: #fff;
          font-weight: 700;
          font-family: "Quicksand-regular";
          font-size: 1rem;
        }
      }
      .driver_card_details {
        padding: 10px 8px;
        .driver_detail_name {
          padding-left: 5px;
          max-width: 100% !important;
          input {
            font-size: 0.8rem;
            font-family: "Quicksand-regular";
            line-height: 1.3;
          }
          .name_heading {
            font-family: "Quicksand-regular";
            font-size: 0.8rem;
            font-weight: 700;
            line-height: 1;
            color: #6d6d6d;
          }
          .driver_name {
            font-size: 1.3rem;
          }
          .driver_input {
            margin-top: 5px;
            border: 0px !important;
            border-bottom: 1px solid #ccc !important;
            outline: 0 !important;
            // text-align: center;
            padding-left: 5px;
            font-size: 0.8rem;
          }
          .mat-form-field-infix {
            width: 100%;
          }
          .license_num {
            width: 100%;
          }
          .dropdown_btn {
            border-bottom: 1px solid #949494;
            line-height: 2.3;
            border-radius: 0;
            padding: 0;
            width: 100%;
            text-align: left;
            font-family: "Quicksand-regular";
            font-weight: 500;
            color: #545454;
            position: relative;
            outline: 0;
            span::after {
              content: "";
              border-left: solid 6px transparent;
              border-right: solid 6px transparent;
              border-top: solid 6px #3785df;
              height: 0;
              width: 0;
              position: absolute;
              bottom: 12px;
              right: 4px;
            }
          }
        }
      }
  
      .mat-form-field-infix {
        border-top: 0px solid transparent;
      }
      .card_details {
        margin-top: 80px;
        width: 100%;
        max-width: 85%;
      }
      &.manual_card {
        overflow: hidden;
      }
    }
  }
  .rescan_card {
    width: 80%;
    margin: 15px 0px;
    padding-left: 0px;
    margin: 10px 0px;
    .loding-error-block {
      border: 1px solid #ccc;
      box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.25);
      height: 100px;
      padding-left: 10px;
      max-width: 400px;
    }
    .loader-wrap {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  .loader-wrap {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    // justify-content: center;
    align-items: center;
  }
  
  .camera-section-scanner {
    margin: 5px 10px;
    .mat-card {
      max-width: 380px;
      text-align: center;
      box-shadow: 0px 2px 3px 2px rgba(109, 109, 109, 0.23);
      padding: 10px;
      margin: 10px 20px;
      // margin-top:60px !important;
    }
    .camera-block {
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      height: 100%;
      width: 100%;
      z-index: 999;
      bottom: 0;
      right: 0;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .came-align {
        width: auto;
      }
      .came {
        position: relative;
      }
    }
    .ID-Pics {
      border-radius: 6px;
      width: 100%;
    }
    .cam_gallery_btn_section {
      padding: 50px 20px 0px 20px;
      .close_btn {
        display: flex;
        align-items: center;
        float: right;
        .material-icons {
          color: #fff;
          font-size: 0.85rem;
        }
      }
    }
  
    .web-cam-btn {
      display: flex;
      justify-content: center;
      border-radius: 50%;
      border: none;
      text-align: center;
      display: flex;
      justify-content: center;
      width: 45px;
      height: 45px;
      background-color: transparent;
      border: 1px solid #fff;
      .mat-button-wrapper {
        padding: 0px;
      }
      img {
        width: 15px;
      }
    }
  
    .retake-submit-btns {
      margin: 10px 0;
      .submit-btn {
        background-color: #2f63f5 !important;
        color: #fff !important;
      }
      .retake-btn {
        background-color: #fff;
        height: 100%;
        font-size: 0.8rem;
        color: #1565c0;
        padding: 5px 8px;
        white-space: pre-wrap;
        line-height: 1.5;
        min-height: 30px;
        border-radius: 4px !important;
        border: 1px solid #1565c0;
        box-shadow: 0 0 0 1px #ccc !important;
        width: 100%;
        margin: 0 5px;
        @media (min-width: 768px) {
          width: 100%;
        }
      }
    }
  }
  
  .actionBtn {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
    }
    65% {
      box-shadow: 0px 0px 5px 13px rgba(255, 255, 255, 0.3);
    }
    90% {
      box-shadow: 0px 0px 5px 13px rgba(255, 255, 255, 0.3);
    }
  }
  
  .choose {
    padding: 10px;
    background-color: #e8e7e6;
    margin: 0 10px;
    border-radius: 5px;
    input[type="file"] {
      display: none;
    }
  }
  
  .diode {
    -webkit-animation: beam 0.01s infinite;
    animation: beam 0.01s infinite;
  }
  .center {
    margin: 0 auto;
    text-align: center;
  }
  
  /* barcode container */
  .anim-box {
    position: relative;
    margin: 10px;
    // width: 100%;
    // height: 100%;
    transition: transform 0.6s ease-out;
  }
  
  /* adds the 4 corners */
  .anim-box:before,
  .anim-box:after,
  .anim-box > :first-child:before,
  .anim-box > :first-child:after {
    position: absolute;
    width: 10%;
    height: 7%;
    border-color: #fff;
    border-style: solid;
    content: " ";
  }
  
  /* top left corner */
  .anim-box:before {
    top: -6px;
    left: -5px;
    border-width: 2px 0 0 2px;
  }
  
  /* top right corner */
  .anim-box:after {
    top: -6px;
    right: -5px;
    border-width: 2px 2px 0 0;
  }
  
  /* bottom right corner */
  .anim-box > :first-child:before {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
  }
  
  /* bottom left corner */
  .anim-box > :first-child:after {
    bottom: -6px;
    left: -6px;
    border-width: 0 0 2px 2px;
  }
  
  /* barcode bars */
  .anim-item {
    display: inline-block;
    background-color: white;
    height: 100px;
  }
  
  .anim-item-sm {
    width: 2px;
    margin-right: 3px;
  }
  
  .anim-item-md {
    width: 3px;
    margin-right: 2px;
  }
  
  .anim-item-lg {
    width: 5px;
    margin-right: 5px;
  }
  /* animated laser beam */
  // .scanner {
  // background-color: rgba(108, 174, 226, 0.36);
  // opacity: 0.7;
  // position: absolute;
  // box-shadow: 0px 0px 5px 5px rgba(108, 174, 226, 0.36);
  // top: 50%;
  // animation-name: scan;
  // animation-duration: 7.6s;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;
  // left: 0px;
  // right: 0px;
  // margin: auto;
  // width: 90%;
  // height: 1%;
  // }
  .scanner {
    background-color: #34f931;
    opacity: 0.7;
    position: absolute;
    box-shadow: 0 0 1px 1px rgb(15, 185, 12);
    top: 50%;
    -webkit-animation-name: scan;
    animation-name: scan;
    -webkit-animation-duration: 7.6s;
    animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    left: 0;
    right: 0;
    margin: auto;
    width: 93%;
    height: 0.8%;
  }
  // .anim-box {
  //   background-color: rgba(255, 255, 255, 0.26)!important;
  //      border: 1px solid #cccccc21;
  //   }
  .retake-btn-block {
    text-align: right;
    margin-bottom: 5px;
  }
  @keyframes scan {
    0% {
      // box-shadow: 0px 0px 5px 5px rgba(108, 174, 226, 0.36);
      top: 50%;
      /* opacity: 0;  */
    }
    25% {
      // box-shadow: 0px 6px 5px 5px rgba(108, 174, 226, 0.36);
      top: 5px;
      /* opacity: 0.5;  */
    }
  
    75% {
      // box-shadow: 0px -6px 5px 5px rgba(108, 174, 226, 0.36);
      top: 98%;
      /* opacity: 1 ;  */
    }
  }
  .car_details_text {
    .avatar_message_text {
      // border: 1px solid #066ced;
      background-color: #fff;
      color: #4068f8;
      span {
        font-weight: 600;
      }
    }
  }
  
  .custom-card-img {
    margin-top: 70px;
  }
  
  // congrates popup
  .driver_card {
    &.congrats_card {
      max-width: 300px;
      box-shadow: 0px 1px 5px 2px rgba(109, 109, 109, 0.3);
      border-radius: 8px;
      margin-top: 60px !important;
      width: 90%;
      margin: 20px auto;
      .congrates-msg {
        font-size: 2rem;
        font-family: "Cookie-Regular";
        text-align: center;
        color: #00a4aa;
        font-weight: 500;
      }
      .success-img {
        text-align: center;
        svg {
          width: 130px;
          // margin:20px auto;
          .path {
            stroke-dasharray: 1000;
            stroke-dashoffset: 0;
          }
          .path.circle {
            -webkit-animation: dash 1s ease-in-out;
            animation: dash 1s ease-in-out;
          }
          .path.line {
            stroke-dashoffset: 1000;
            -webkit-animation: dash 5.9s 0.35s ease-in-out forwards;
            animation: dash 5.9s 0.35s ease-in-out forwards;
          }
          .path.check {
            stroke-dashoffset: -100;
            -webkit-animation: dash-check 2.9s 0.35s ease-in-out forwards;
            animation: dash-check 2.9s 0.35s ease-in-out forwards;
          }
        }
      }
      .confirmation-msg p {
        font-size: 1rem;
        color: #777;
        text-align: center;
        font-weight: 600;
        font-family: "Quicksand-regular";
      }
      .confirmation-number {
        p {
          text-transform: uppercase;
          font-size: 1.5rem;
          color: #717171;
          font-weight: 600;
          text-align: center;
          font-family: "Quicksand-regular";
        }
      }
    }
  }
  // congrats popup aanimation
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
  .mat-calendar-header {
    padding: 1px 0 0 0;
    background-color: #3785df;
    color: #fff;
  }
  .mat-calendar-arrow {
    border-top-color: rgb(255, 255, 255);
  }
  .mat-calendar-next-button::after,
  .mat-calendar-previous-button::after {
    border: 0 solid #fff;
  }
  .mat-calendar-body-selected {
    background-color: #3785df;
  }
  .mat-datepicker-content .mat-calendar-next-button,
  .mat-datepicker-content .mat-calendar-previous-button {
    color: rgb(255, 255, 255);
  }
  .mat-calendar-controls {
    margin: 0;
  }
  
  //mat inner circle
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #3785df !important;
    outline: 0 !important;
  }
  
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #3785df !important;
    outline: 0 !important;
  }
  
  .Splash-screen-2 {
    .devicesSVG {
      position: absolute;
      // width:100%;
      // height:100%;
  
      /* visibility:hidden; */
      overflow: hidden;
    }
  
    svg {
      /* top:-100px; */
      overflow: visible;
      visibility: hidden;
      /* max-width:740px; */
      /* left:300px; */
    }
  
    .horizon {
      text-anchor: middle;
      fill: #7d7d7d;
      font-size: 64px;
      font-family: museo-sans-rounded, sans-serif;
    }
  
    #visitText * {
      text-anchor: middle;
      fill: #a5a7aa;
      font-size: 32px;
      font-family: museo-sans-rounded, sans-serif;
      opacity: 1;
    }
  
    #visitText *:hover {
      fill: #ea5679;
    }
    .container {
      width: 100%;
      height: 100%;
    }
  
    @media screen and (min-width: 1200px) {
      .horizonSVG {
        position: absolute;
        width: 100%;
        height: 100%;
        /* visibility:hidden; */
        overflow: visible;
      }
    }
  
    @media (min-width: 320px) and (max-width: 1199px) {
      .horizonSVG {
        position: absolute;
  
        /* visibility:hidden; */
        overflow: visible;
        bottom: 0 !important;
      }
    }
  }
  .mat-datepicker-toggle {
    color: #3785df;
  }
  
  //wrapper in desktop view
  
  .main-section {
    height: 100%;
    @media (min-width: 768px) {
      position: relative;
      overflow: hidden;
    }
  }
  .chatbot-container {
    @media (min-width: 768px) {
      width: 50%;
      margin: auto;
    }
  }
  
  /*** datepicker popup start ***/
  
  .mat-calendar-body-selected {
    background-color: #3785df;
    // background-image: linear-gradient(to right, #006eec, #475df9, #5c59ff);
  }
  
  .mat-calendar-body-cell-content {
    font-family: "Quicksand-regular";
    border: 0px !important;
  }
  
  .mat-calendar-table-header th {
    font-size: 0.75rem;
    font-weight: 500;
    opacity: 1;
    color: #000;
    font-family: "Quicksand-regular";
  }
  
  .mat-calendar-table {
    margin-top: 10px;
  }
  
  .mat-calendar-header {
    background-image: linear-gradient(to right, #006eec, #475df9, #5c59ff);
    color: #fff;
  }
  
  .mat-button-wrapper {
    font-family: "Quicksand-regular";
    line-height: inherit;
  }
  
  .mat-datepicker-content .mat-calendar {
    height: 320px !important;
    width: 270px !important;
  }
  
  .mat-datepicker-content {
    overflow: hidden;
  }
  .datepick-popup {
    .cdk-overlay-pane.mat-datepicker-popup {
      position: absolute;
      pointer-events: auto;
      box-sizing: border-box;
      z-index: 1000;
      display: flex;
      max-width: 100%;
      max-height: 100%;
      top: 0px !important;
      bottom: 0 !important;
      right: 0 !important;
      left: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .btn-block + .btn-block {
    margin-top: 0px !important;
  }
  
  .mat-calendar-controls {
    margin: 0px auto !important;
  }
  
  .mat-calendar-body-today.mat-calendar-body-selected {
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .mat-calendar-body-label {
    font-family: "Quicksand-regular";
    color: #000;
  }
  /*** datepicker popup end ***/
  /*** dropdown menu start ***/
  .mat-menu-content:not(:empty) {
    padding: 0px;
  }
  
  .mat-menu-item {
    height: 35px !important;
    line-height: 1 !important;
    font-size: 0.85rem;
    font-weight: 500;
    font-family: "Quicksand-regular";
    border-bottom: 1px solid #f3f3f3 !important;
    color: #1b68f1;
    outline: 0px;
    &:focus {
      outline: 0px !important;
    }
  }
  
  .mat-menu-item:last-child {
    border: 0px !important;
  }
  
  .mat-menu-panel {
    width: 100%;
    min-width: 120px;
    max-height: 200px !important;
  }
  /*** dropdown menu end ***/
  
  .optional_card_mat-checkbox label {
    margin: 0 6px 0 0 !important;
  }
  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
  }
  .mat-tab-body {
    &.mat-tab-body-active {
      overflow: auto;
    }
    .mat-tab-body-content {
      padding: 4px;
      margin: 5px;
    }
    .mat-radio-outer-circle {
      width: 15px;
      height: 15px;
      top: 3px;
    }
    .mat-radio-inner-circle {
      height: 15px;
      width: 15px;
      top: 3px;
    }
    .mat-radio-container {
      width: 15px;
    }
  }
  
  .optional_card_mat-checkbox label {
    margin: 0 6px 0 0 !important;
  }
  
  .mat-icon-button:focus {
    outline: 0;
  }
  /*** insurance popup start ***/
  
  .insurance-popup {
    .cdk-overlay-pane {
      max-width: 95vw !important;
      width: auto !important;
    }
    .mat-dialog-container {
      padding: 0;
    }
    .mat-dialog-content {
      max-height: 95vh;
      margin: 0;
      padding: 0;
      background-color: #d6d6d6;
    }
  }
  
  /*** insurance popup end ***/
  
  /*** toggle start ***/
  // raghava newly integrated code styles 15/02/2019 evening
  
  //  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar, .mat-slide-toggle-bar{
  //   background-color: #dcdcdc !important;
  // }
  
  // .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  // background-color: #03A9F4;
  // }
  
  // .mat-radio-label-content{
  // padding-left: 4px !important;
  // font-family: 'Quicksand-regular' ;
  // font-size: 0.7rem;
  // }
  
  // .payment-tabs .addons_section .mat-card .addon_toggle_section .addon_toggle_btn.mat-checked .mat-slide-toggle-bar{
  //   background-color: #03a9f4 !important;
  //   border: 1px solid #03a9f4;
  // }
  
  .addon_toggle_section {
    width: 30%;
    text-align: center;
    .addon_toggle_btn {
      .mat-slide-toggle-bar {
        height: 22px;
        width: 50px;
        border-radius: 15px;
        background-color: #f3f3f3 !important;
        border: 1px solid #e8e8e8;
      }
      .mat-slide-toggle-thumb-container {
        top: 1px;
        left: 1px;
      }
      .mat-slide-toggle-thumb {
        height: 18px;
        width: 18px;
      }
      &.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
        transform: translate3d(28px, 0, 0);
      }
    }
    .addon_toggle_btn.mat-checked .mat-slide-toggle-bar {
      background-color: #0f92ea !important;
      border: 1px solid #0f92ea;
    }
    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
      background-color: #ffffff !important;
    }
    p {
      font-size: 0.85rem;
      font-weight: 500;
      font-family: "Quicksand-regular";
      color: #8c8c8c;
    }
  }
  // .mat-slide-toggle.mat-checked .mat-ripple-element {
  //   background-color: transparent !important;
  // }
  /*** toggle end ***/
  
  .payment-tabs .mobile_tabs .mat-tab-body-content {
    margin: auto !important;
  }
  
  .insurance_section .mobile_tabs .mat-tab-body .mat-tab-body-content {
    margin: auto !important;
  }
  
  .insurer_details-section .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #03a9f4 !important;
  }
  .insurer_details-section .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(3, 169, 244, 0.51) !important;
  }
  
  .mat-tab-labels {
    background-color: #f3f3f3;
  }
  
  // desktop design style
  
  .nasco_main_section {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    .desktop_sidesection {
      width: 40%;
      position: relative;
      height: 100%;
      background-color: #e0e0e0;
      background-image: url(/assets/images/side_section_bg.jpg);
      background-size: cover;
      background-position: 50% 80%;
      ::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.35;
        background-color: #fff;
      }
      .side_logo {
        border: 0px;
        position: absolute;
        margin: auto;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0;
        z-index: 9;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          position: relative;
          z-index: 99;
        }
      }
    }
    .main-section {
      width: 60%;
      position: relative;
      box-shadow: -1px 0px 5px 2px rgba(0, 0, 0, 0.12);
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
  
  @media (max-width: 767px) {
    .mobile-design-show {
      display: block;
    }
    .desktop-design-show {
      display: none;
    }
  }
  
  @media (min-width: 768px) {
    .mobile-design-show {
      display: none;
    }
    .desktop-design-show {
      display: block;
    }
  }
  
  // scroll bar styles
  
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-thumb {
    opacity: 0.1;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  
  // ..... Optional benifits expansion .....
  
  .optional_list .mat-expansion-panel-header {
    padding: 0px !important;
    height: 46px !important;
    width: 75% !important;
    display: flex;
    align-items: baseline !important;
  }
  .optional_list .mat-expansion-panel-header:hover {
    background-color: transparent !important;
  }
  .optional_list .addon_toggle_section {
    position: relative;
  }
  .optional_list .mat-expansion-panel {
    box-shadow: none !important;
    background-color: transparent !important;
  }
  .optional_list .mat-expansion-panel-content {
    padding-right: 13px;
    text-align: left;
  }
  .optional_card_toggle {
    position: absolute;
    right: 0px;
    top: 8px;
  }
  
  .optional_list .mat-expansion-panel-body {
    padding: 0px !important;
  }
  .optional_list .mat-expansion-indicator {
    margin-right: 12px;
    // margin-top: -20px;
  }
  
  .optional_list .mat-expansion-panel-header-description {
    margin-right: 8px;
  }
  .optional_list .content p {
    margin-bottom: 8px;
    color: #a5a3a3 !important;
  }
  
  .mat-expansion-panel-header.mat-expanded .mat-expansion-indicator::after {
    margin-top: -10px !important;
  }
  
  // spinner styles
  
  .lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    margin-top: 10px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #06c;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  