<ion-item>
  <ion-textarea rows="1" spellcheck="true" autoComplete="true" autocorrect="true" placeholder="Enter more information here..." (keyup.enter)="sendMessage()" [(ngModel)]="message.content"
   ></ion-textarea>
  <ion-icon name="mic" (click)='mic()'></ion-icon>
  <!-- <ion-icon name="sendMessage" *ngIf="message.content.legnth !== 0" (click)='sendMessage()'></ion-icon> -->
</ion-item>

<!-- <ion-button (click)= "captureImage()">
  <ion-icon name="camera" ></ion-icon>
</ion-button> -->
<!-- <ion-button (click)= "emailSending()">
    <ion-icon name="mail"></ion-icon>
</ion-button> -->