<div class="nasco_main_section">
  <!-- desktop design  section -->
  <div class="desktop_sidesection desktop-design-show">
    <div class="side_logo">
      <img src="./assets/images/nasco-logo.svg" width="200">
    </div>
  </div>
  <!-- main section html -->
  <div class="main-section">
    <!-- [ngClass]="sideMenuActive?'sidemenu-toggle':'sidemenu-close'" -->
    <div class="container-fluid ion-no-padding chatbot_bg">
      <!-- <chatbot-header></chatbot-header> -->
      <app-header-chat></app-header-chat>
      <ion-content>
        <ion-router-outlet main></ion-router-outlet>
      </ion-content>
      <!-- <chatbot-body [ngStyle]="activeComponent=='chat'?{'display':'block'}:{'display':'none'}" (click)="menuActivate()">
      </chatbot-body>
      <app-my-account [activeComponent]="activeComponent" (click)="menuActivate()"
        *ngIf="activeComponent=='my-account-password' || activeComponent=='my-account-profile'">
      </app-my-account>
      <app-feedback *ngIf="activeComponent=='feedback'" (click)="menuActivate()"></app-feedback>
      <app-faq *ngIf="activeComponent=='faq'" (click)="menuActivate()"></app-faq> -->
    </div>
    <!-- <app-side-menu [ngClass]="sideMenuActive?'sidemenu-open':''"></app-side-menu> -->
  </div>
  <!-- <app-chatbot-footer></app-chatbot-footer> -->
</div>